<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
    />
  </head>
  <body>
    <div
      class="w-full h-[960px] relative bg-whitesmoke-400 overflow-hidden leading-[normal] tracking-[normal] text-left text-[60px] text-black font-poppins"
    >
      <h3
        class="m-0 absolute top-[96.3px] left-[66px] text-inherit inline-block w-[666px] h-[181.3px] font-inherit mq450:text-[36px] mq767:text-[48px]"
      >
        <span>Electronics & Gadgets </span>
        <b class="text-steelblue-500">E-Commerce</b>
        <span>
          <span class="font-medium font-poppins"> </span>
          <span>Shopify</span>
        </span>
      </h3>
      <div
        class="absolute top-[289.2px] left-[66px] text-[39px] mq450:text-[23px] mq767:text-[31px]"
      >
        Design in figma
      </div>
      <div
        class="absolute top-[391px] left-[66px] rounded-481xl bg-white w-[100px] h-[104px] flex flex-row items-start justify-start py-[19.5px] px-[28.5px] box-border"
      >
        <img
          class="h-[65px] w-[43px] relative overflow-hidden shrink-0"
          loading="lazy"
          alt=""
          src="/public/figmalogo-1.svg"
        />
      </div>
      <main class="absolute top-[63px] left-[0px] w-[1600px] h-[897px]">
        <img
          class="absolute top-[495px] left-[-233px] w-[935px] h-[1838px] object-cover"
          alt=""
          src="/public/product-1@2x.png"
        />

        <div
          class="absolute top-[337px] left-[301px] w-[836px] h-[846px] z-[1] flex items-center justify-center"
        >
          <img
            class="w-full h-full z-[1] object-contain absolute left-[-22px] top-[26px] [transform:scale(1.081)]"
            alt=""
            src="/public/cart-1@2x.png"
          />
        </div>
        <div
          class="absolute top-[128px] left-[851px] w-[730px] h-[1298px] z-[2] flex items-center justify-center"
        >
          <img
            class="w-full h-full z-[2] object-contain absolute left-[-18px] top-[25px] [transform:scale(1.058)]"
            alt=""
            src="/public/product1-1@2x.png"
          />
        </div>
        <div
          class="absolute top-[0px] left-[1164px] w-[729px] h-[2450px] z-[3] flex items-center justify-center"
        >
          <img
            class="w-full h-full z-[3] object-contain absolute left-[-26px] top-[31px] [transform:scale(1.071)]"
            loading="lazy"
            alt=""
            src="/public/home-1@2x.png"
          />
        </div>
      </main>
    </div>
  </body>
</html>
