<div class="container mx-auto px-4 py-6">
  <h1 class="text-2xl font-bold mb-4">Quản lý sản phẩm</h1>
  <a routerLink="/admin/add-product" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ml-4 mr-4 mb-4 inline-block no-underline">Thêm sản phẩm</a>
  <a routerLink="/admin/add-category" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ml-4 mr-4 mb-3 inline-block no-underline">Thêm danh mục</a>
  <app-product-list></app-product-list>

  <div class="absolute top-0 right-0 mt-4">
    <a routerLink="/register" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mb-3 inline-block no-underline mr-5">Đăng kí</a>
    <a routerLink="/login" class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded mb-3 inline-block no-underline mr-5">Đăng nhập</a>
    <button (click)="logout()" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mb-3 inline-block no-underline">Đăng xuất</button>
  </div>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>
