<div class="container mx-auto px-4 py-6">
  <h1 class="text-2xl font-bold mb-4">Danh sách sản phẩm</h1>

  <div class="mb-4">
    <label for="search" class="block text-gray-700 font-bold mb-2">Tìm kiếm sản phẩm:</label>
    <input id="search" type="text" (input)="onSearchChange($event)" class="form-input mt-1 block w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Nhập tên sản phẩm...">
  </div>

  <div class="mb-4">
    <label for="category" class="block text-gray-700 font-bold mb-2">Chọn danh mục:</label>
    <select id="category" (change)="onCategoryChange($event)" class="form-select mt-1 block w-full border border-gray-300 rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
      <option value="">Tất cả</option>
      <option *ngFor="let category of categories" [value]="category.name">{{ category.name }}</option>
    </select>
  </div>

  <table class="min-w-full bg-white shadow-md rounded-md overflow-hidden mt-4">
    <thead class="bg-gray-800 text-white">
      <tr>
        <th class="w-1/6 py-2 px-4 text-center">Tên sản phẩm</th>
        <th class="w-1/6 py-2 px-4 text-center">Danh mục</th>
        <th class="w-1/6 py-2 px-4 text-center">Giá</th>
        <th class="w-2/6 py-2 px-4 text-center">Mô tả</th>
        <th class="w-1/6 py-2 px-4 text-center">Hành động</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products" class="text-gray-700">
        <td class="border py-2 px-4">
          <a [routerLink]="['/admin/product-detail', product.id]" class="text-red-700 hover:text-red-900 font-bold no-underline">{{ product.name }}</a>
        </td>
        <td class="border py-2 px-4 text-center">{{ product.category }}</td>
        <td class="border py-2 px-4 text-center">{{ product.price }}</td>
        <td class="border py-2 px-4 text-center">{{ product.desc }}</td>
        <td class="border py-2 px-4 flex items-center justify-center">
          <a [routerLink]="['/admin/edit-product', product.id]" class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-3 rounded mr-2 inline-block">Sửa</a>
          <button *ngIf="product.id" (click)="deleteProduct(product.id)" class="bg-red-500 hover:bg-red-600 text-white font-semibold py-1 px-3 rounded inline-block">Xóa</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
